* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 800;
}

.nav--title {
  color: #deebfb;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(../src/images/reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-position: right 70%;
}

.main--title {
  margin: 0;
  font-size: 39px;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts>li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts>li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}





































































































/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */